.carousel {
  display: flex;
  justify-content: space-around;
  width: inherit;
  flex-wrap: wrap;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.carousel-list {
  list-style: none;
  display: inline-block;
  width: 270px;
  height: 270px;
  text-align: center;
  margin: 15px 10px;
  //padding: 9px;
}

.carousel-toast .button {
  cursor: pointer;
  position: relative;
  width: 48px;
  height: 48px;
  text-align: center;
}
.carousel-image {
  width: 270px;
  height: 270px;
}
.carousel-toast {
  position: absolute;
  margin: 0;
  opacity: 0;
  width: 270px;
  height: 270px;
  border: 1px solid #9c9c9c;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-toast-h {
  /* Style for "Fishnet Ch" */
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  padding: 18px 0;
}

.carousel-toast-p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
}

.carousel-toast:hover {
  opacity: 0.9;
  transition: 0.5s;
}
