<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Interior</title>
    <link rel="stylesheet" href="../css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav padding-site block">
        <div class="nav-head">
          <div v-on:click="cat=false" class="nav-menu-list">
            <div class="nav-menu-link nav-menu-link-active">
              Featured
            </div>
          </div>
          <div v-on:click="cat=true" class="nav-menu-list">
            <div class="nav-menu-link">New</div>
          </div>
          <div class="nav-explore">
            <a href="product-detail.html" class="nav-explore-link">
              explore all
              <img src="../img/arrow.svg" alt="arrow" class="nav-explore-img" />
            </a>
          </div>
        </div>
        <div class="carousel" v-if="cat">
          <li class="carousel-list" v-for="image in featureList">
            <div class="carousel-toast">
              <a href="product-detail.html" class="button">
                <img class="arrow" src="../img/arrow.svg" alt="arrow" />
              </a>
              <div class="carousel-toast-h">Fishnet Chair</div>
              <p class="carousel-toast-p">
                Seat and back with upholstery made of cold cure foam
              </p>
            </div>
            <img class="carousel-image" v-bind:src="image" alt="product-1" />
          </li>
        </div>
        <div class="carousel" v-else>
          <li class="carousel-list" v-for="image in newList">
            <div class="carousel-toast">
              <a href="product-detail.html" class="button">
                <img class="arrow" src="../img/arrow.svg" alt="arrow" />
              </a>
              <div class="carousel-toast-h">Fishnet Chair</div>
              <p class="carousel-toast-p">
                Seat and back with upholstery made of cold cure foam
              </p>
            </div>
            <img class="carousel-image" v-bind:src="image" alt="product-1" />
          </li>
        </div>
      </div>
    </div>
    <script>
      var carousel = new Vue({
        el: ".nav",

        data: {
          cat: false,
          featureList: [
            "../img/product-1.jpg",
            "../img/product-2.jpg",
            "../img/product-3.jpg",
            "../img/product-4.jpg",
          ],
          newList: [
            "../img/product-4.jpg",
            "../img/product-3.jpg",
            "../img/product-2.jpg",
            "../img/product-1.jpg",
          ],
        },
      });
    </script>
  </body>
</html>
